* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    /* шаблон колонок для нашої сітки, кажемо які і скільки їх буде. */
    grid-template-rows: 50px 50px 50px;
    /* шаблон рядків */
}

.grid-elem {
    height: 50px;
    background-color: blue;
    color: aliceblue;
    line-height: 50px;
    text-align: center;
    font-size: 26px;
    border: 1px solid black;
    border-radius: 4px;
}